.about{
    .text{
        max-width: 950px;
        justify-content: center;
        font-family: 'Courier New', Courier, monospace;
    }

    .title{
        max-width: 950px;
        font-size: xx-large;
        justify-content: center;
        font-family: 'Courier New', Courier, monospace;
        color: rgb(155, 106, 106);
        font-weight:bolder;
    }
}
